@use '@/styles/variables' as *;
@use '@/styles/colors' as *;

.powerButton {
    cursor: pointer;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -17px;
    margin-right: -13px;

    .iconOn {
        color: var(--white);
        opacity: $opacity-70;
    }

    .iconOff {
        color: var(--medium-gray);
        opacity: $opacity-40;
    }
}