# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
node_modules
dist
dist-ssr
build
.storybook-out
storybook-static

# Vite
.vite
*.local

# Testing
coverage
*.lcov

# TypeScript
*.tsbuildinfo
node_modules/.tmp/

# Environment files
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Storybook
*storybook.log

# Jest
jest.config.ts

# ESLint & Prettier cache
.eslintcache

# Mac system files
._*
