@use '@/styles/variables' as *;
@use '@/styles/colors' as *;

.zoneButton {
    max-width: 250px;
    position: relative;
    height: 130px;
    padding: 17px 13px;
    border-radius: $base-border-radius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    .zoneButton__topSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

