:root {
    --white: #FFFFFF;
    --dark-gray: #1F2933;
    --medium-gray: #7B8794;
    --mid-light-gray: #9AA7B1;
    
    --orange: #EF694E;
    --red: #CF1E11;
    --light-blue: #40C3F7;
    --dark-blue: #0B69A3;
    --green: #2DCC9A;
    --dark-green: #01644F;

    --heating-gradient: radial-gradient(circle at bottom, var(--orange), var(--red));
    --cooling-gradient: radial-gradient(circle at bottom, var(--light-blue), var(--dark-blue));
    --success-gradient: radial-gradient(circle at bottom, var(--green), var(--dark-green));
}
