$primary-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.22), 0 1px 2px 0 rgba(0,0,0,0.34);
$secondary-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.22);

$opacity-06: 0.06;
$opacity-08: 0.08;
$opacity-40: 0.40;
$opacity-70: 0.70;
$opacity-80: 0.80;

$base-border-radius: 10px;