@use '@/styles/variables' as *;
@use '@/styles/colors' as *;

.zoneStatus {
    font-size: 13px;
    position: relative;
    z-index: 1;
}

.zoneStatusOn {
    color: var(--white);
    opacity: $opacity-80;
}

.zoneStatusOff {
    color: var(--medium-gray);
    opacity: $opacity-80;
    text-transform: uppercase;
}
